.request-container {
  width: 95%;
  margin: 40px auto;
  overflow-x: auto;
}

.request-container h1 {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 10px;
}

/* Table */
table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  background: white;
  margin: auto;
}

th {
  background: #1976d2;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  text-align: center;
}

/* Status */
.status {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.APPROVED {
  background: green;
}

.REJECTED {
  background: red;
}

.SUBMITTED {
  background: orange;
}

.CLOSED {
  background: blue;
}

.REOPENED {
  background: #009688;
}

.NEEDS_CLARIFICATION {
  background: purple;
}

/* Buttons */
button {
  margin: 3px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.approve-btn {
  background: green;
}

.reject-btn {
  background: red;
}

.clarify-btn {
  background: purple;
}

.close-btn {
  background: blue;
}

.reopen-btn {
  background: #009688;
}

button:hover {
  opacity: 0.85;
}

/* Tablet */
@media (max-width: 768px) {
  .request-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  th,
  td {
    font-size: 12px;
    padding: 6px;
  }

  .status {
    font-size: 11px;
    padding: 4px 8px;
  }

  button {
    font-size: 11px;
    padding: 4px 6px;
  }
}